@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --focus-outline-rgb: #000;
  --input-text-field-bg: #ffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --focus-outline-rgb: #fff;
    --input-text-field-bg: #46464657;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}


.login-box>div>input {

  padding: 0.5rem;
  border-radius: 0.2rem;
  background: var(--input-text-field-bg);

}

.login-box>div>input:focus {
  outline: var(--focus-outline-rgb) 2px solid;
}

.login-box>div>button {
  background: #000;
}